nav {
  background-color: #303030;
}
nav img {
  background-color: #FFFFFF;
  border-radius: 30%;
}
nav a {
  text-decoration: none;
}
nav i, nav span, nav .nav-link {
  color: #D8C7A1;
}
nav li :hover {
  background-color: #D4AF37;
}
nav .btn {
  background-color: #D8C7A1;
  color: #FFFFFF;
}
nav .btn:hover {
  background-color: #D4AF37;
}
nav .navbar-toggler {
  background-color: white;
}

@-webkit-keyframes animacion-tarjeta {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes animacion-tarjeta {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
main {
  padding-top: 60px;
}
main section {
  background-color: #F2E6D6;
}
main section .btn {
  background-color: #3E2723;
  color: #FFFFFF;
}
main section .btn:hover {
  background-color: rgba(62, 39, 35, 0.6156862745);
}
main section hr {
  color: black;
}
main section h1, main section h2, main section h3 {
  color: #3E2723;
}
main section .img-seccion {
  width: 70%;
  height: auto;
}
main section .tarjeta-img {
  height: 35%;
}
main section .card:hover {
  -webkit-animation: animacion-tarjeta 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: animacion-tarjeta 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
main section .cuerpo-tarjeta {
  text-align: center;
}
main section .cuerpo-tarjeta h5 {
  height: 20%;
}
main section .cuerpo-tarjeta p {
  height: 55%;
}
main section .cuerpo-tarjeta button {
  height: 15%;
}
main section .seccion-contenido {
  text-align: end;
}

@media (max-width: 770px) {
  .texto-seccion {
    text-align: center;
  }
  main section .seccion-contenido {
    text-align: center;
  }
  .tarjeta {
    margin-bottom: 10px;
  }
}
@media (min-width: 770px) and (max-width: 995px) {
  .tarjeta {
    margin-bottom: 10px;
  }
}
@media (min-width: 576px) and (max-width: 850px) {
  .img-testimonios {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .botones-login {
    margin-bottom: 5px;
  }
}
footer {
  background-color: #303030;
}
footer img {
  background-color: #FFFFFF;
  border-radius: 30%;
}
footer .nav-link {
  color: #D8C7A1;
}
footer .nav-link:hover {
  background-color: #D4AF37;
  color: black;
}
footer p, footer i, footer hr {
  color: #D8C7A1;
}

@media (max-width: 770px) {
  .pie {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .pie img {
    width: 60px;
    height: 54px;
  }
}

/*# sourceMappingURL=style.css.map */
