/* ----------------------------------- HEADER ------------------------------------------------*/
header i, span{
    color: #D8C7A1;
}

header a{
    text-decoration: none;
}

nav{
    background-color: #303030;
}

nav img{
    background-color: #FFFFFF;
    border-radius: 30%;
}

nav .nav-link{
    color: #D8C7A1;
}

nav li :hover{
    background-color: #D4AF37;
}

nav .btn {
    --bs-btn-bg: #D8C7A1;
    --bs-btn-hover-bg: #D4AF37;}
/* ----------------------------------- MAIN ------------------------------------------------*/
main{
    padding-top: 60px;
}

main section{
    height: fit-content;
}

section{
    background-color: #F2E6D6;
}

section .btn{
    --bs-btn-bg: #3E2723;
    --bs-btn-color: #ffffff;
    --bs-btn-hover-bg: #3e27239d;
}

section hr{
    color: black;
}

section h1, section h2, section h3{
    color: #3E2723;
}

.img-seccion{
    width: 70%; 
    height: auto;
}

.tarjeta-img{
    height: 35%;
}

.cuerpo-tarjeta{
    text-align: center;
}

.cuerpo-tarjeta h5{
    height: 20%;
}

.cuerpo-tarjeta p{
    height: 55%;
}

.cuerpo-tarjeta button{
    height: 15%;
}

.seccion-contenido{
    text-align: end;
} 

/* ----------------------------------- FOOTER ------------------------------------------------*/
footer{
    background-color: #303030;
}

footer img{
    background-color: #FFFFFF;
    border-radius: 30%;
}

footer .nav-link, footer p, footer i, footer hr{
    color: #D8C7A1;
}

footer .nav-item :hover{
    background-color: #D4AF37;
}

form .botones-login{
    background-color: #FFFFFF;
    color: #3E2723;
    border-color: #3E2723;
}

form .botones-login i{
    color: #3E2723;
}

/* ----------------------------------- RESPONSIVE ------------------------------------------------*/

/* SMALL */
@media (max-width: 770px) {

    /* ----------------------------------- MAIN ------------------------------------------------*/
    .texto-seccion{
        text-align: center;
    }

    .tarjeta{
        margin-bottom: 10px;
    }

    /* ----------------------------------- FOOTER ------------------------------------------------*/
    .pie{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .pie img{
        width: 60px;
        height: 54px;
    }
  }

@media (min-width: 770px) and (max-width: 995px) {

    /* ----------------------------------- MAIN ------------------------------------------------*/
    .tarjeta{
        margin-bottom: 10px;
    }
  }

@media (min-width:576px) and (max-width: 850px){
    .img-testimonios{
        width: 40%;
    }
}

@media (max-width: 992px){
    .botones-login{
        margin-bottom: 5px;
    }
}
