@import 'variables';
@import 'mixin';

nav{
    background-color: $terciary-color;

        img{
            background-color: $secondary-color;
            border-radius: 30%;
        }

        a{
            text-decoration: none;
        }

        i,span, .nav-link{
            color: $details-color;
        }

        li :hover{
            background-color: $hover-effect-color;
        }

        .btn{
            @include boton($details-color, $secondary-color, $hover-effect-color);
        }

        .navbar-toggler{
            background-color: white;
        }
}