//Paleta de Colores
$primary-color: #F2E6D6;
$secondary-color: #FFFFFF;
$terciary-color: #303030;
$details-color: #D8C7A1;
$content-color: #3E2723;
$hover-effect-color: #D4AF37;
$hover-buttons-content-color: #3e27239d;
$shadow-color: black;